@import "../../app-variables";

.material-action-bar {
  background-color: $overlay-06dp;
}
.page__content {
  background-color: $background-dark;

  & .exercise {
    background-color: $overlay-01dp;
  }

  & .exercise-title {
    border-bottom-color: $overlay-24dp;
  }

  & .card-quotes {
    background-color: $overlay-02dp;

    & .quote-edit {
      background-color: $overlay-06dp;
    }

    & .quote-delete {
      background-color: $overlay-06dp;
    }

    & .quote-save {
      background-color: $overlay-06dp;
    }
  }
}
.nt-drawer__header-background {
  background-color: $overlay-04dp;
}
.nt-drawer__body {
  background-color: $background-dark;
}
