@import "../../app-variables";

.material-action-bar {
  background-color: $overlay-06dp-red;
}

.page__content {
  background-color: $background-dark-red;

  .exercise {
    background-color: $overlay-01dp-red;
  }

  .exercise-title {
    border-bottom-color: $overlay-24dp-red;
  }

  .card-quotes {
    background-color: $overlay-02dp-red;

    .quote-edit {
      background-color: $overlay-06dp-red;
    }

    .quote-delete {
      background-color: $overlay-06dp-red;
    }

    .quote-save {
      background-color: $overlay-06dp-red;
    }
  }

  .sheet {
    background-color: $overlay-02dp-red;

    &-title {
      white-space: normal;
      font-weight: normal;
    }

    &-cancel {
      width: 45%;
      background-color: $overlay-06dp-red;
    }

    &-save {
      width: 45%;
      background-color: $overlay-24dp-red;
    }
  }

  .new-btn {
    background-color: $overlay-06dp-red;
  }
}

.nt-drawer__header-background {
  background-color: $overlay-04dp-red;
}

.nt-drawer__body {
  background-color: $background-dark-red;
}

.nt-drawer__list-item.-selected {
  background-color: rgba(255, 0, 0, .15);
}
