<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header">
            <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image>
            <Label class="nt-drawer__header-brand" text="placeholder"></Label>
            <Label class="nt-drawer__header-footnote" text="placeholder"></Label>
        </StackLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/exercises/exercises')" (tap)="onNavItemTap('/exercises')">
                    <Label col="0" text="&#xf5dc;" class="nt-icon fas"></Label>
                    <Label col="1" text="Exercises" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/practice/elements')" (tap)="onNavItemTap('/practice')">
                    <Label col="0" text="&#xf46d;" class="nt-icon fas"></Label>
                    <Label col="1" text="Practice Elements" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/saved')" (tap)="onNavItemTap('/saved')">
                    <Label col="0" text="&#xf005;" class="nt-icon fas"></Label>
                    <Label col="1" text="Saved" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/about')" (tap)="onNavItemTap('/about')">
                    <Label col="0" text="&#xf02d;" class="nt-icon fas"></Label>
                    <Label col="1" text="About Seth" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
