<ActionBar class="material-action-bar" [androidElevation]="actionBar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Gallery"></Label>
</ActionBar>

<GridLayout class="page__content" padding="5" (loaded)="onLoaded()">

    <RadListView #list [items]="gallery" height="100%">
        <ListViewGridLayout tkListViewLayout spanCount="4">
            <ng-template let-pic="item">
                <GridLayout margin="5">
                    <Image class="gallery-thumbnail" (tap)="onPictureTap($event, pic.name, pic.path)"
                           [src]="pic.path" stretch="aspectFill"></Image>
                </GridLayout>
            </ng-template>
        </ListViewGridLayout>
    </RadListView>

    <Button class="new-btn" text="+" (tap)="onTakePicture()" [androidelevation]="buttonElevation"></Button>
</GridLayout>
