// Material layers
$background-dark: #121212;
$background-light: #f4f4f4;
$overlay-white: #ffffff;
$overlay-01dp: #1E1E1E;
$overlay-02dp: #232323;
$overlay-03dp: #252525;
$overlay-04dp: #272727;
$overlay-06dp: #2C2C2C;
$overlay-08dp: #2F2F2F;
$overlay-12dp: #333333;
$overlay-16dp: #353535;
$overlay-24dp: #383838;
$text-light-mode: #121212;
