<ActionBar class="material-action-bar" [androidElevation]="actionBar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Saved"></Label>
</ActionBar>

<GridLayout class="page__content">
    <RadListView [items]="saved">
        <ListViewLinearLayout tkListViewLayout
                              scrollDirection="Vertical"
                              itemInsertAnimation="Default"
                              itemDeleteAnimation="Default">
            <ng-template let-item="item">
                <CardView class="card-quotes" [androidElevation]="cardElevation">
                    <StackLayout>
                        <Label *ngIf="!item.edit" class="quote-text h3" [text]="item.quote"></Label>
                        <TextView *ngIf="item.edit" class="quote-text-edit h3" [(ngModel)]="newQuoteText"></TextView>

                        <GridLayout columns="auto, *">
                            <Label class="quote-book h4" col="0" [text]="item.book"></Label>

                            <Button *ngIf="!item.edit" class="quote-edit text-center fas" col="1"
                                    text="&#xf303;" [androidElevation]="buttonElevation"
                                    (tap)="onEditQuote(item.quote); item.edit = !item.edit"></Button>

                            <GridLayout col="1" columns="auto, auto" horizontalAlignment="right">
                                <Button *ngIf="item.edit" class="quote-delete text-center fas" col="0"
                                        text="&#xf2ed;" [androidElevation]="buttonElevation"
                                        (tap)="onDeleteQuote($event); item.edit = !item.edit"></Button>

                                <Button *ngIf="item.edit" class="quote-save text-center fas" col="1"
                                        text="&#xf00c;" [androidElevation]="buttonElevation"
                                        (tap)="onSaveQuote($event, newQuoteText); item.edit = !item.edit"></Button>

                            </GridLayout>
                        </GridLayout>

                    </StackLayout>
                </CardView>
            </ng-template>
        </ListViewLinearLayout>
    </RadListView>

    <Button class="new-btn" text="+" (tap)="onNewDock(newDock)" [androidelevation]="buttonElevation"></Button>

    <AbsoluteLayout #fadeLayer
                    width="100%"
                    height="100%"
                    [backgroundColor]="'rgba(0,0,0,.7)'"
                    (tap)="onTouchWhileDock(newDock)"></AbsoluteLayout>
    <DockLayout #newDock
                class="dock"
                (loaded)="onNewDockLoaded($event)"
                [androidelevation]="sheetElevation"
                verticalAlignment="bottom">
        <new-saved *ngIf="enabled" (notify)="onNewNotify($event, newDock)"></new-saved>
    </DockLayout>
</GridLayout>
