<ActionBar class="material-action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Exercises"></Label>
</ActionBar>

<GridLayout class="page__content">
<!--    <Label class="page__content-icon far" text="&#xf1ea;"></Label>-->
    <!--    <Label class="page__content-placeholder" [text]="exercises"></Label>-->
    <ListView class="book" [items]="books">
        <ng-template let-book="item">
            <Label class="book-title" [text]="book" (tap)="onBookTap($event, book)"></Label>
        </ng-template>
    </ListView>
</GridLayout>
